#recorder { 

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-top: 100px;

} 

#title{
    margin-left: 10px;
}

#title h1{
    font-weight: 400;
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    height: 30vh;
	letter-spacing: -0.02em;

}


#text-display {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	letter-spacing: -0.02em;
	max-width: 1000px;
	margin: 0 auto

}


#text-display h1 {

    font-weight: 400;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    color: #808080;
	letter-spacing: -0.02em;


}


#statusMess{

    color: black;
	font-weight: 400;
    font-size: 2rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
	letter-spacing: -0.02em;
	text-align: center;
	

}

.status {
    color: gray;
    font-weight: bold;
	letter-spacing: -0.02em;

}

.status.recording{
    color: red;
    background-color:white;
}


#recordButton {
    background-image: url('images/button.png');
    background-size: cover;
    background-position: center;
    width: 140px;   /* match your image's dimensions/aspect ratio */
    height: 120px;
    border: none;
    background-color: transparent; /* hides the "Record" text if you don't want it showing */
    transition: transform 0.2s ease;
}

#recordButton:hover{
    transform: scale(1.1)

}

#recordButton.recording{
    background-image: url('images/stopbutton.webp');
    background-size: 60% 70%;
    background-repeat: no-repeat;
    background-position: center 30%;
}



button{

    padding: 0;

}


/* fade in effect on load*/

body {
    animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

